.popup__description {
    margin: 30px auto 0;
    padding: 0;
    width: 83%;
    opacity: 0.2;
    border: none;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width: 499px) {
    .popup__description {
        width: 84%;
    }
}