.popup__description {
    margin: 30px auto 0;
    padding: 0;
    width: 83%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
}

@media screen and (max-width: 499px) {
    .popup__description {
        width: 84%;
    }
}