.profile-info__edit-bitton {
    margin: 0;
    padding: 0;
    border: 1px solid white;
    background: url(../../../images/profile-edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
    width: 24px;
    height: 24px;
    margin-top: 15px;
}