.profile-info__edit-bitton {
    margin: 0;
    padding: 0;
    border: 1px solid white;
    background: url(../../../images/profile-edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 10px;
    width: 24px;
    height: 24px;
    margin-top: 15px;
}

@media screen and (max-width: 939px) {
    .profile-info__edit-bitton {
        width: 20px;
        height: 20px;
        background-size: 9px 9px;
        float: right;
        margin-right: 19px;
    }
}

@media screen and (max-width: 699px) {
    .profile-info__edit-bitton {
        width: 19px;
        height: 19px;
        background-size: 8px 8px;
        margin-top: 14px;
    }
}

@media screen and (max-width: 424px) {
    .profile-info__edit-bitton {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
        margin-top: 8px;
    }
}